<h2>Všechno o Frajerovy <small>(<%= @posts.size %>)</small></h2>

<ul class="posts">
<% @posts.each do |post| %>
<li>
  <small><%= human_date post.published_on %> &mdash;</small>
  <strong><a href="/<%= post.id %>.html"><%= post.title %></a></strong>
  <span class="perex"><%= post.perex %></span>
  <span><%= post.comments.size %> comments</span>
</li>
<% end %>
</ul>

